/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
body {
	margin: 0;
	font-family: 'Sen', sans-serif;
}

main {
	background: radial-gradient(circle, rgba(255, 255, 255, 1) 28%, rgba(153, 153, 153, 1) 100%);
	background-color: #fff;
	scroll-padding-top: 64px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.18);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	padding: 16px 32px;
	position: sticky;
	top: 0;
	background: #ccc;

	.logo img {
		width: 96px;
	}

	nav ul {
		display: flex;
		list-style: none;
		gap: 64px;
		font-family: 'Sen', sans-serif;
		font-size: 24px;

		li a {
			text-decoration: none;
			color: #333;

			&:hover {
				color: #e08f43;
			}
		}
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
		padding: 16px;

		nav {
			overflow: hidden;
			max-height: 0;
			transition: max-height 0.3s ease-in-out;
			&.active {
				overflow: visible;
				max-height: 309px;
				ul {
					opacity: 1;
				}
			}
			ul {
				flex-direction: column;
				gap: 16px;
				text-align: center;
				padding-left: 0;
				transition: opacity 0.3s ease-in-out;
				transition-delay: 0.2s;
				opacity: 0;
			}
		}
	}
}

.hero {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 128px 64px;

	.left {
		margin-right: 64px;

		.name {
			font-size: 48px;
			font-weight: 700;
			font-family: 'Sen', sans-serif;
			color: #333;
			margin-bottom: 16px;
		}

		.text {
			font-size: 24px;
			font-weight: 400;
			color: #666;
			font-family: 'Sen', sans-serif;
			margin-bottom: 32px;
			max-width: 1200px;
		}

		.cta-button {
			display: inline-block;
			padding: 12px 24px;
			background-color: #e08f43;
			color: #fff;
			font-family: 'Sen', sans-serif;
			font-size: 18px;
			text-decoration: none;
			border-radius: 4px;

			&:hover {
				background-color: #d57f35;
			}
		}
	}

	.right img {
		width: 400px;
		border-radius: 8px;
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	}

	@media screen and (max-width: 1024px) {
		flex-direction: column;
		padding: 64px 32px;

		.left {
			margin-right: 0;
			margin-bottom: 32px;
			text-align: center;
		}

		.right img {
			width: 100%;
			max-width: 400px;
		}
	}
}

.flex {
	display: flex;
	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

section {
	padding: 128px 64px;

	h2 {
		font-size: 36px;
		font-weight: 700;
		font-family: 'Sen', sans-serif;
		color: #333;
		margin-bottom: 32px;
	}

	p {
		font-family: 'Sen', sans-serif;
		font-size: 18px;
		max-width: 1000px;
	}

	@media screen and (max-width: 768px) {
		padding: 64px 32px;
	}
}

.skills ul {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	list-style: none;
	padding: 0;

	li {
		padding: 8px 16px;
		background-color: #f4f4f4;
		border-radius: 4px;
		font-size: 18px;
		font-family: 'Sen', sans-serif;
	}
}

.experience .job {
	margin-bottom: 32px;

	h3 {
		font-size: 24px;
		font-weight: 700;
		font-family: 'Sen', sans-serif;
		color: #333;
		margin-bottom: 8px;
	}

	h4 {
		font-size: 18px;
		font-weight: 600;
		font-family: 'Sen', sans-serif;
		color: #666;
		margin-bottom: 4px;
	}

	.date {
		font-size: 16px;
		font-weight: 400;
		font-family: 'Sen', sans-serif;
		color: #999;
		margin-bottom: 16px;
	}

	ul {
		list-style: disc;
		margin-left: 24px;

		li {
			font-size: 18px;
			font-family: 'Sen', sans-serif;
			color: #333;
			margin-bottom: 8px;
		}
	}
}

.portfolio {
	background-color: #f9f9f9;

	.projects {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 32px;
	}

	.project {
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		overflow: hidden;
		display: flex;
		align-items: center;

		.left {
			padding: 24px;

			h3 {
				font-size: 24px;
				font-weight: 700;
				font-family: 'Sen', sans-serif;
				color: #333;
				margin-bottom: 16px;
			}

			p {
				font-size: 18px;
				font-weight: 400;
				font-family: 'Sen', sans-serif;
				color: #666;
				margin-bottom: 24px;
			}

			.button {
				display: inline-block;
				padding: 8px 16px;
				background-color: #e08f43;
				font-family: 'Sen', sans-serif;
				color: #fff;
				font-size: 16px;
				text-decoration: none;
				border-radius: 4px;

				&:hover {
					background-color: #d57f35;
				}
			}
		}

		.right {
			padding-right: 24px;
			img {
				width: 100%;
				max-width: 500px;
				height: auto;
			}
		}
	}
}

.contact {
	max-width: 800px;
	margin: auto;
	form {
		display: grid;
		gap: 16px;

		label {
			font-size: 18px;
			font-weight: 600;
			font-family: 'Sen', sans-serif;
			color: #333;
		}

		input,
		textarea {
			padding: 8px;
			font-size: 16px;
			font-family: 'Sen', sans-serif;
			border: 1px solid #ccc;
			border-radius: 4px;
		}

		button {
			padding: 8px 16px;
			background-color: #e08f43;
			color: #fff;
			font-size: 18px;
			font-weight: 600;
			font-family: 'Sen', sans-serif;
			border: none;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				background-color: #d57f35;
			}
		}
	}
}

footer {
	background-color: #333;
	color: #fff;
	padding: 32px;
	text-align: center;

	p {
		font-size: 16px;
		font-weight: 400;
		font-family: 'Sen', sans-serif;
		margin-bottom: 16px;
	}

	.social-links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 64px;
		list-style: none;
		padding: 64px;

		img {
			max-width: 150px;
		}

		li a {
			color: #fff;
			text-decoration: none;
			span {
				font-size: 160px;
				line-height: 0;
				max-height: 150px;
				vertical-align: middle;
			}
		}
		@media screen and (max-width: 768px) {
			gap: 32px;
			padding: 32px;

			img {
				max-width: 100px;
			}

			li a span {
				font-size: 120px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.hero {
		flex-direction: column;
		padding: 32px;

		.left {
			margin-right: 0;
			margin-bottom: 32px;
			text-align: center;
		}

		.right img {
			width: 100%;
		}
	}

	section {
		padding: 32px;
	}
}
